<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Comfortaa:wght@700&display=swap" rel="stylesheet">
  <meta name="description" content="explore your favorite foods in here!">
  <link rel="icon" href="icon.png">
  
  <title>FoodieApp</title>
</head>
<a href="#mainContent" class="skip-link">Skip To Content</a>
<body>
  <header class="app-bar">
    <h1>Foodie App</h1>
    <button id="hamburgerButton">☰</button>
    <nav id="drawer" class="nav">
      <ul>
        <li class="navitems"><a href="#/resto">Resto</a></li>
        <li class="navitems"><a href="#">Favorite</a></li>
        <li class="navitems"><a href="http://www.linkedin.com/in/reginapf31-a40763211">About Us</a></li>
      </ul>
    </nav>
  
  </header>

  <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_2.jpg');" alt="gambar-makanan">
  <div class="hero-inner">
    <h1 tabindex="0" class="hero-title">Foodie App</h1>
    <p tabindex="0" class="hero-tagline">Find your best food in here!</p>
  </div>
  </div>

  <main id="mainContent">
  </main>

  <footer>
    <p tabindex="0">Copyright © 2023 - FoodieApp</p>
  </footer>

</body>
</html>
